.App {
  padding: 30px;
  display: flex;
}
.addList {
  padding: 30px 0 0 30px;
}

.App > div {
  margin-right: 40px;
}

.list {
  padding-left: 1rem;
}

.list > li {
  display: flex;
  gap: 1rem;
}

.error {
  border: 1px solid red;
}
.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}
.is-done {
  opacity: 0.5;
}
